.today__detail {
  border-radius: 20px;
  background-color: #4f4f4f;
  padding: 10px;
}

@media (max-width: 425px) {
  .today__detail {
    margin-bottom: 10px;
  }
}

.detail__title {
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.detail__list {
  list-style: none;
  padding-left: 0;
  color: #939cb0;
}

.detail__list li {
  display: flex;
  align-items: center;
  /* margin-bottom: 8px; */
}

.detail__list li:not(:last-child) {
  margin-bottom: 8px;
}

.detail__list img {
  width: 30px;
  height: 30px;
}

.detail__list span {
  padding-left: 8px;
}
